body{
	width: 100%;
}
header,footer{
	width: 100%;
	height: 50px;
	background-color: #4c8ede;
}
header ul{
	width: 1190px;
	margin: 0 auto;
}
header ul li {
	display: inline;
	line-height: 50px;
	padding: 17px 30px 17px 30px;
	color: #fff;
	font-size: 16px;
}
header ul li a{
	/*font-size: 16px;*/
	/*color: #fff*/
}
header ul li.active{
	background-color: #81ade2;
	color: #333;
}
header ul li.active a{
	/*color: #333;*/
}
.choose{
	display: none;
}
.main_com,.resume,.job_lists,.user_list,.job_fair,.job_detail,.res_apply{
	width: 1190px;
	margin: 0 auto;
	background-color: #8fc3f5;
}
.resume{
	background-color: #dcf47b;
}
.job_lists{
	height: 200px;
	background-color: #e18dc2;
}
.user_list{
	height: 200px;
	background-color: #d3f861;
}
.job_fair{
	background-color: #f0c18e;
}
.re_list{
	position: relative;
	color: #888;
	/*background-color: #fff;*/
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	/*background-color: #333;*/
}
.r_explain{
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.el span.t1,.el span.t2,.el span.t3,.el span.t4,.el span.t5,.el span.t6,.el span.t7,.el span.t8,.el span.t9{
	width: 80px;
	text-align: center;
	display: inline-block;
	border:1px solid;
}
.el{
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	overflow: hidden;
	border-bottom: 1px dotted #ddd;
}
.re_list div.el span.t1,.re_list div.el span.t8,.re_list div.el span.t6{
	width: 150px;
}
.re_list div.el span.t2{
	width: 190px;
}
.el span.t3 a,.el span.t9 a{
	cursor: pointer;
	text-decoration: underline;
}
